.header {
    width: 100%;
    height: 4.5rem;
    position: fixed;
    z-index: 10;

    .nav-header {
        box-shadow: 0 5px 5px rgb(231, 231, 231);
        display: flex;

        background-color: #fff;

        .container {
            .left-header {
                width: 20%;
                height: 100%;
            }

            .nav-link {
                font-size: 15pt;

            }

            .active {

                background: -webkit-linear-gradient(45deg, #0654b4, #0c7853, #23c189);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .dropdown-hover {
                transition: all ease-in-out 0.3s;

                &:hover {
                    transform: rotate(-90deg);
                }
            }
        }

        .right-header {
            width: 20%;
            right: 0;
        }
    }

}


@media only screen and (max-width: 700px) {

    .left-header,
    .right-header {
        display: none;
    }

    .menu-header {
        margin: 0 3rem;
    }
}