.header {
    width: 100%;
    height: 4.5rem;
    position: fixed;
    z-index: 10;

    .nav-header {
        box-shadow: 0 5px 5px rgb(231, 231, 231);

        .left-header {
            width: 20%;
        }

        .menu-header {
            width: 60%;
            display: flex;

            .navbar-nav {
                display: flex !important;
                justify-content: center;
                align-items: center;
                width: 100%;

                .nav-link {
                    color: rgb(110, 110, 110);
                    font-size: 20px;
                    margin: 0 0.5vw;
                    width: 3vw;
                    display: flex;
                    justify-content: center;
                    height: 2vw;
                    align-items: center;
                    border-radius: 5px;

                    &:hover {
                        background-color: rgb(219, 219, 219);
                    }

                }

                .active {
                    background: -webkit-linear-gradient(90deg, #1361c0, #17a171, #7be9c2);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    //box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.2), inset 0px -5px 5px rgba(255, 255, 255, 0.2);
                }
            }
        }

        .right-header {
            width: 20%;
            right: 0;
        }
    }
}